<h1>{{pageTitle}}</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Eye color</th>
            <th>Hair color</th>
            <th>Height</th>
            <th>Starship</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
